<h1>Bienvenue sur votre agenda de consommation de divertissements</h1>
<p>Cliquez sur le bouton ci-dessous pour accéder à votre liste de consommations</p>
<%= link_to "Consommations", consumptions_path, class: "btn btn-primary" %>
<p>Cliquez sur celui-ci pour ajouter quelque chose que vous avez consommé ! Simple comme bonjour !</p>
<%= link_to "Ajouter une consommation", new_consumption_path, class: "btn btn-primary" %>
